.project
.idea/
*.orig
*.pyc
drivers/ansible_shell.zip
drivers/ansible_shellPackage/Resource Drivers - Python/*.zip
.eggs/
cloudshell_cm_ansible.egg-info/
package/cloudshell_cm_ansible.egg-info/
drivers/ansible_shell.zip
*.zip
.vscode/
venv
.venv*
dist/
package/build/